<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>画像変換君</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <p>画像変換君 ver1</p>
    </header>
    <article>
        <div class="main">
            <p>画像変換webアプリケーションです。7種類の拡張子をサポート!!是非使ってみてください。※画像はサーバーに一時的に保存されます。</p>
            <form action="/post.html" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="file">
                <select name="kakutyousi" id="kakutyousi">
                    <option value="">--変換したい拡張子を選択してください--</option>
                    <option value="png">image/png</option>
                    <option value="jpg">image/jpeg</option>
                    <option value="webp">image/webp</option>
                    <option value="gif">image/gif</option>
                    <option value="avif">image/avif</option>
                    <option value="tiff">image/tiff</option>
                    <option value="svg">image/svg+xml</option>
                </select>
                <div id="100" class="quality" style="display: none;">
                    <p>クオリティ</p>
                    <input type="range" name="quality" id="1to100" max="100" min="1" value="100" onchange="handleInputChange()" oninput="handleInputChange()">
                    <p id="100a">100</p>
                </div>
                <div id="10" class="quality" style="display: none;">
                    <p>圧縮レベル</p>
                    <input type="range" name="pngquality" id="1to10" max="9" min="1" value="1" onchange="handleInputChange()" oninput="handleInputChange()">
                    <p id="9a">1</p>
                </div>
                
            </form>
            <button onclick="post()" class="henkan">変換</button>
            <div class="imgbefore">
                <div>
                    <p>変換前</p>
                    <img src="" alt="" id="imgbefore">
                </div>
            </div>

            <div class="imgbefore">
                <div>
                    <p>変換後</p>
                    <img src="" alt="" id="imgafter">
                </div>
            </div>
            <button onclick="dl()" class="henkan" id="dl">ダウンロード</button>
        </div>


    </article>
</body>
<script>
    document.getElementById("file").addEventListener("change", change, false)
    function change(event) {
        var file = event.target.files[0];
        var reader = new FileReader();
        reader.onloadend = function () {
            upfile = reader.result;
            document.getElementById("imgbefore").src = upfile;
        }
        reader.readAsDataURL(file);
    }
    function post() {
        var formData = new FormData();
        formData.append('kakutyousi', document.getElementById("kakutyousi").value);
        if(document.getElementById("kakutyousi").value == "jpg" || document.getElementById("kakutyousi").value == "webp" ||document.getElementById("kakutyousi").value == "tiff" ){
            formData.append('quality', document.getElementById("1to100").value);
        }else if(document.getElementById("kakutyousi").value == "png"){
            formData.append('quality', document.getElementById("1to10").value);
        }else{
            formData.append('quality', "-1");
        }
        
        formData.append("file", document.getElementById("file").files[0])
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/post.html', true);
        xhr.addEventListener('load', function (response) {
            if (xhr.status === 200) {
                document.getElementById("imgafter").src = xhr.responseText;
                document.getElementById("dl").style.display = "block";
                alert("変換完了");
            } else {
                alert("エラー:コード" + xhr.status);
            }
        });
        xhr.send(formData);
    }
    function dl() {
        const imageUrl = document.getElementById("imgafter").src;
        const a = document.createElement('a');
        a.href = imageUrl;
        a.download = 'sample.jpg';
        a.click();
    }
    document.getElementById("kakutyousi").addEventListener("change",quality,false)
    function quality(){
        if(document.getElementById("kakutyousi").value == "jpg" || document.getElementById("kakutyousi").value == "webp" ||document.getElementById("kakutyousi").value == "tiff" ){
            document.getElementById("100").style.display = "flex";
            document.getElementById("10").style.display = "none";
        }else if(document.getElementById("kakutyousi").value == "png"){
            document.getElementById("100").style.display = "none";
            document.getElementById("10").style.display = "flex";
        }else{
            document.getElementById("100").style.display = "none";
            document.getElementById("10").style.display = "none";
        }
    }
    function handleInputChange() {
        if(document.getElementById("kakutyousi").value == "jpg" || document.getElementById("kakutyousi").value == "webp" ||document.getElementById("kakutyousi").value == "tiff" ){
            document.getElementById("100a").innerHTML = document.getElementById("1to100").value;
        }else if(document.getElementById("kakutyousi").value == "png"){
            document.getElementById("9a").innerHTML = document.getElementById("1to10").value;
        }else{

        }
}
</script>

</html>